*.class
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.idea/
*.iml
*.iws
*.ipr
.out/

.classpath
.project
.settings/
.factorypath

.vscode/

.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.swp
*~
hs_err_pid*

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.env
.env.*
*.key
*.pem
*.jks
*.p12

application-local.yaml
application-local.yml
application-dev.yaml
application-dev.yml
docker-compose.override.yml

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.spring-boot-devtools.properties
